.space {
    float:left;
    position: relative;
    width: 12.5%;
    padding-bottom: 12.5%;
    /* = width for a 1:1 aspect ratio */
    margin: 0%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* you change this to "contain" if you don't want the images to be cropped */
}

.img_w{background-image:url('w.png');}
.img_b{background-image:url('b.png');}
.fullRed{background-image:url('FullRed.jpg');}
.fullWhite{background-image:url('FullWhite.png');}
